/* style for viewFlashcards */

#searchbar {
	width: 1900px;
	height: 50px;
	background-color: #032140;
	margin-top: -20px;
	color: white;
}

/* style for using flashcards page */
#title {
	text-align: center;
	margin-top: 2%;
	color: white;
}

.slide {
	width: 65%;
	margin: auto;
	text-align: center;
	margin-top: 3%;
}

.carousel-inner {
	background-color: rgba(16, 47, 66, 0.993);
	color: white;
	min-height: 60vh;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.carousel-inner .carousel-item {
	width: 70%;
	margin: auto;
}

.carousel-item p {
	white-space: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.term {
	display: block;
}

.description {
	display: none;
}
/* ------------Navbar Styling-------------- */

#navbarDiv {
	display: flex;
	justify-content: space-between;
}

#navbarDiv > img {
	margin-left: 2rem;
	width: 15%;
	height: auto;
}

nav {
	display: flex;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background: linear-gradient(#6b6b6b, black);
}

.navContentDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
}

.navContentDiv > a {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: #51aaad;
	text-decoration: none;
	font-size: 1.25rem;
}

.navContentDiv > span {
	color: #f08c00;
}

/* Create Flashcard Styling */

#newSet {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

#cardContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.newCardBody {
	background: linear-gradient(#ffdc00, #ff577f);
}

#flashcolor {
	background: linear-gradient(#ffdc00, #ff577f);
}

#flashcardsdiv {
	border: 2px solid white;
	width: 1700px;
	height: 600px;
	border-radius: 10px;
	display: flex;
	float: right;
	margin-right: 70px;
	justify-content: space-around;
}

.btnContainer {
	display: flex;
	justify-content: space-evenly;
}
#newTerm {
	margin-right: 5%;
}
#submitSet {
	margin-left: 5%;
}
