/* style for using flashcards page */
#title {
	text-align: center;
}

.slide {
	width: 50%;
	margin: auto;
	text-align: center;
	min-height: 100px;
	border: 1px solid red;
}

.carousel-inner {
	background-color: rgba(104, 112, 117, 0.705);
}

.carousel-item > p {
	color: white;
}
