/* style for using flashcards page */
#title {
	text-align: center;
}

.slide {
	width: 50%;
	margin: auto;
	text-align: center;
}

.carousel-inner {
	background-color: rgba(104, 112, 117, 0.705);
	min-height: 50vh;
}

.carousel-item > p {
	color: white;
}
